# ==========================================
# Python (Arayüz ve Veri İşleme)
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# ==========================================
# ESP32-C3 / Gömülü Sistem (PlatformIO & Arduino)
# ==========================================
.pio/
build/
*.elf
*.bin
*.hex
*.o
*.obj

# ==========================================
# Geliştirici Ortamları (IDE / Editör)
# ==========================================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# ==========================================
# İşletim Sistemi Dosyaları
# ==========================================
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/
